html{
    height: 100%;
    background-image: linear-gradient(grey,cyan);
    background-repeat: no-repeat;
    font-family: sans-serif;
    color: #0f222d;
    background-size: auto;
  }
  
  .main{
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  h1{
    text-align: center;
    color: #fff;
  }
  form{
    background-color: #fff;
    padding: 15px;
  }
  input[type="text"] ,textarea[type="text"]{
    width: 310px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 1.5em;
    background: #fff;
    color: #2f4f4f;
  }
 
  .tasksBoard{
    background-color: #fff;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 40px;
    display: none;
  
  }
  ul{
    list-style: none;
  }
  li{
    border-bottom: 1px solid #53BDFF;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 1.3em;
    color: #2f4f4f;
  }
  a{
    float: right;
    text-align: right;
    color: #ff6161;
    font-size: 1.2em;
    cursor: pointer;
  }
  .delete{
    background-color: #ff6161;
    padding: 0px 3px 0px 3px;
    color: #fff;
    cursor: pointer;
  }
  .showIcon
  {
    background-color: #ff6161;
    padding: 0px 2px 0px 2px;
    color: #fff;
    cursor: pointer;
    float: right;
    height:40px;
    width:60px;
    border:none;
    border-radius:10px ;
    }
  @media (max-width: 500px) {
    .main{
      margin: auto;
      width: 100%;
    }
    input[type="text"]{
      width: 80%;
    }
    button{
      width: 10%;
    }
  }
  /* General Styles */
* {
  box-sizing: border-box;
}



.modal-control {
  padding: 1rem;
 background-color:aquamarine;
  text-align: center;
  border-radius: 20px;
}

button {
  font: inherit;
  background: transparent;
  border: 2px solid #521751;
  padding: 0.5rem 1rem;
  color: #521751;
  cursor: pointer;
  font-weight: bold;
}

button:hover,
button:active {
  border-color: #fa923f;
  color: #fa923f;
}

/* The Modal */
.modal ,.showModal{
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background:teal;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 20px;
}

.modal h1 {
  color: #521751;
  margin: 0.5rem 0;
  font-size: 1.2rem;
}

.modal-input {
  margin: 0.5rem 0;
}

.modal-input textarea {
  width: 100%;
  font: inherit;
  resize: none;
}

.modal-input textarea:focus {
  outline: none;
  background: #ffdbfe;
  border-color: #521751;
}

.modal-actions {
  text-align: right;
}

button.btn-cancel {
  border-color: red;
  color: red;
  border-radius: 20px;
}

button.btn-cancel:hover,
button.btn-cancel:active {
  color: white;
  background: red;
}

button.btn-confirm {
  border-color: green;
  color: green;
  border-radius: 20px;
}

button.btn-confirm:hover,
button.btn-confirm:active {
  color: white;
  background: green;
}

.backdrop ,.showback{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.open {
  display: block;
}
